body{font-family: 'Poppins', sans-serif;
 margin: 0%;

}
h1{
    font-size: 50px;

}
.Orange{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(rgb(214, 145, 16), tomato);
    color: white;
    font-weight: 800;
    
}
.top-banner{
    background-image: url(my-picture/top-banner.png);
    background-repeat: no-repeat;
}
.half{
    width: 50%;
    font-size: 18px;
    
}
.dream-big{
    display: flex;
    margin: 150px;
}
.pic{
    width: 80%;
}
.download-buttom{
    padding:10px 40px;
    background-image: linear-gradient(orange, rgb(238, 10, 10));
    text-decoration: none;
    border-radius: 5px;

}
.dream-big{
    background-image: url(my-picture/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
